extends layout

block staticfile
    script(data-main="js/main" src="lib/require/require.min.js")
    link(rel="stylesheet" href="css/reset.css" type='text/css' media="all")
    link(rel="stylesheet" href="css/loading-bar.css" type='text/css' media="all")

block content
    main(ng-controller='LayoutController')
      nav(class="navbar navbar-default navbar-fixed-top")
        div(class="container")
            div(class="navbar-header")
                button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false")
                  span(class="sr-only").
                    Toggle navigation
                  span(class="icon-bar")
                  span(class="icon-bar")
                  span(class="icon-bar")
                a(class="navbar-brand" href="/#/").
                    SHAWN SONG
            div(class="collapse navbar-collapse" id="bs-example-navbar-collapse-1")
                ul(class="nav navbar-nav navbar-right")
                  li(class="active")
                    a(href="/#/index").
                      Home
                  li
                    a(href="/#/aboutme").
                      About me
                  li
                    a(href="https://github.com/sxqwaade" target="_blank").
                      Github
      div(class="page")
          main()
            div(class="container")
                div(class="row")
                    section(class="col-md-8" ng-view="" ng-class="{blog_detail:isblogdetail==true}")
                    aside(class="col-md-4 col-sm-8 col-xs-8")
                        div(class="search-widget")
                            div(class="input-group margin-bottom-sm")
                                input(class="form-control search" ng-class="{true:'error',false:''}[filtererror]" my-enter="filterbytag(keywords)" type="text" ng-model="keywords" placeholder="搜索标签或标题")
                                a(href="javascript:void(0)" ng-click="filterbytag(keywords)" class="input-group-addon")
                                    i(class="fa fa-search fa-fw")
                        div(id="comment" class="tags-widget hidden-xs hidden-sm" ng-show="newestComment")
                            h3.
                                最新评论
                            blockquote(ng-repeat="newcomment in newestComment")
                                a(href="#/blog?id={{newcomment.comment_id}}")
                                    p.
                                        {{newcomment.title}}
                                    p.
                                        {{newcomment.text}}
                                    footer
                                        span(class="text-left").
                                            {{newcomment.name}}
                                        span(class="text-right").
                                            {{newcomment.create_time|date}}
                        div(class="tags-widget hidden-xs hidden-sm")

                            ul(class="list-group")
                                li(class="list-group-item "  ng-class="{active: currentTag == 'all'}" ng-click="showall()")
                                    span(class="badge").
                                        {{totalnum}}
                                    | 全部
                                li(class="list-group-item " ng-class="{active: currentTag == k}" ng-click="filterbytag(k)" ng-repeat="(k,v) in tags")
                                    span(class="badge").
                                        {{v}}
                                    | {{k}}
block footer
  footer
    div(class="container")
        div(class="row")
            div(class="col-md-12 col-sm-12").
                Every man is the architect of his own fortune.
