<div class="row">
    <section class="col-md-12 mgt20">
        <button ng-click="addblog()" class="btn btn-primary admin-blog-add mgb20">新增</button>

        <article ng-repeat="blog in bloglist" data-id="{{blog._id}}" class="blog-item">
            <div class="row">
                <div class="col-md-3">
                    <a href="#/blog">
                        <img src="/img/bg.jpg" class="img-thumbnail center-block" alt="Blog Post Thumbnail">
                    </a>
                </div>
                <div class="col-md-9">
                    <p>
                        in
                        <a href="#">{{blog.tag}}</a>
                        <time>{{blog.create_at}}<time>
                    </p>
                    <h1>
                        <a href="#/blog">{{blog.title}}</a>
                    </h1>
                </div>
            </div>
            <div class="row admin-blog-btn text-right mgb20">
                <button ng-click="editblog(blog._id)" class="btn-primary btn">编辑</button>
                <button ng-click="removeblog(blog._id)" class="btn-danger btn">删除</button>
            </div>
        </article> <!-- /.blog-item -->


        <div ng-show="pagination" class="page-turn">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center">
                    <nav>
                        <ul class="pagination pagination-sm">
                            <li class="disabled">
                                <a href="#" aria-label="Previous">
                                    <span aria-hidden="true">Prev</span>
                                </a>
                            </li>
                            <li class="active"><a href="index.html">1</a></li>
                            <li><a href="page2.html">2</a></li>
                            <li><a href="page3.html">3</a></li>
                            <li><a href="page4.html">4</a></li>
                            <li><a href="page5.html">5</a></li>
                            <li>
                                <a href="page6.html" aria-label="Next">
                                    <span aria-hidden="true">Next</span>
                                </a>
                            </li>
                        </ul> <!-- /.pagination -->
                    </nav>
                </div>
            </div>
        </div> <!-- /.page-turn -->

    </section>
</div>