<main id="aboutPage">
    <div class="container">
        <div class="row">

            <!-- blog-contents -->
            <section class="col-md-8">

                <article>
                    <h1>关于我</h1>

                    <div btf-markdown="text"></div>

                </article> <!-- /.blog-item -->

            </section>
            <!-- end of blog-contents -->

            <!-- sidebar -->
            <aside class="col-md-4 col-sm-8 col-xs-8">
                <div class="sidebar">

                    <!-- search option -->
                    <div class="search-widget">
                        <div class="input-group margin-bottom-sm">
                            <input class="form-control" type="text" placeholder="Search here">
                            <a href="#" class="input-group-addon">
                                <i class="fa fa-search fa-fw"></i>
                            </a>
                        </div>
                    </div>


                </div>
            </aside>
            <!-- end of sidebar -->

        </div>
    </div> <!-- end of /.container -->
</main>