<div>
    <article class="single-blog-item">

        <div class="alert alert-info">
            <a href="index.html">home</a>,
            <a href="#">{{blog.tag}}</a>,
            updated
            <time>{{blog.update_at}}</time>
        </div>

        <h1>{{blog.title}}</h1>
        <div btf-markdown="blog.content"></div>

    </article>

    <h4>Related Articles</h4>
    <div class="related-articles">
        <div class="alert alert-info">
            <a href="http://themewagon.com">Free HTML5 Website Templates </a>
        </div>
    </div>




    <div class="feedback">
        <div class="row">
            <div class="col-md-12">
                <h1>feedback</h1>

                <div class="cmnt-clipboard"><span class="btn-clipboard">Reply</span></div>
                <div class="well">
                    <div class="row">
                        <div class="col-md-2">
                            <img class="icon-user" src="/img/icon-user.jpg" >
                        </div>
                        <div class="col-md-10">
                            <p class="comment-info">
                                <strong>Reena Scot</strong> <span>22 april 2015</span>
                            </p>
                            <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since they 1500s.
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="comment-post">
        <h1>post a comment</h1>
        <form method="post" >
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <input  name="name" type="text" class="form-control" id="name" required="required" placeholder="Full Name">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <input name="email" type="email" class="form-control" id="email" required="required" placeholder="Email Address">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <input name="website" type="url" class="form-control" id="subject" required="required" placeholder="Your Website">
                    </div>
                </div>
                <div class="col-md-12">
                    <textarea name="message" type="text" class="form-control" id="message" rows="5" required="required" placeholder="Type here message"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" required="required"> Please Check to Confirm
                        </label>
                    </div>
                </div>
                <div class="col-md-6">
                    <button type="submit" id="submit" name="submit" class="btn btn-cmnt">post comment</button>
                </div>
            </div>

        </form>
    </div>

</div>
<div class="blogbg" style="background-image:url('{{fullscreen_bg}}')">
</div>